
*{
    box-sizing: border-box;
}
header{
    background-image: url(img/landing.jpg);
background-size: cover;
background-position: center center;

}

h1{
    color: aqua;
}
div.icon
 {
text-align: center;
}

.icon p {

    padding: 30px;

}
section h2
{
 font-weight: 800;
   color: rgba(0, 0, 200, 0.2);
    text-align: center;
    font-size: 100px;
    letter-spacing: -5px;
    position: relative;
    bottom: 50px;
    top: 50px;
}
section p {
    text-align: center;
bottom: 100px;
}

    .imgsize{

        width: 90%;
        margin-left: 50px;
    }
.text{
   
    text-align: center;
}
.textmove{
    position: relative;
    top: 30px;
}


.what {
    position: relative;
bottom: 30px;

}

.prg {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;

}
.lineDiv {
background-color: aqua;
width: 600px;
height: 3px;

}
    .prgbotton{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 200px;
    
}
.backgrond{
    background-color: rgba(236, 226, 226, 0.966);
    
}
.backgrondprot{

    background-color:rgba(236, 226, 226, 0.966) ;
    height: 620px;
}
.movtobotton{
    text-align: center;
    top: 50px;
    position: relative;
    background-color: rgb(85, 83, 83);
}
.marg{

    margin-top: 100px;
}
.margtop{
    margin-top: 50px;
}
.imgcon{
    width: auto;
}
.imgconbotton{
    width: 100%;

}